{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    {% block css %} 
    
    
    {% endblock css %}
    
 
    
   <title>Shubham's Task | {% block title %} 
   {% endblock %}</title>
</head>
<body class="content">
    <header class="header1">
        <span style="font-size:150%;margin-left:15px">Shubham's Task</span>
		
      <ul class="main-nav">
          <li style="font-size:120%;font-"><a  href=task>Task1 </a></li>
          <li style="font-size:120%"><a href="task2">Task2 </a></li>
          {% block tag1 %}{% endblock tag1 %}
      </ul>
	</header> 


{% block content %}

{% endblock content %}
    
</body>
</html>